<div [ngClass]="'item-card'">
  <div [ngClass]="'img-div'">
    <img [ngClass]="'img'" src="{{itemImageUrl$}}" alt="">
  </div>
  <div [ngClass]="'title-description-grade'">
    <span [ngClass]="'title'">{{title$}}</span>
    <div [ngClass]="'description-grade'">
      <span [ngClass]="'description'">{{description$}}</span>
      <span [ngClass]="'grade'">{{grade}}</span>
    </div>
  </div>
  <div [ngClass]="'buttons'">
    <div [ngClass]="'update-button'">
      <span [ngClass]="'pi pi-file-edit'"></span>
    </div>
    <div [ngClass]="'delete-button'">
      <span [ngClass]="'pi pi-trash'"></span>
    </div>
  </div>
</div>


