<nz-card style="width:250px;" [nzCover]="coverTemplate" [nzActions]="[actionEdit, actionEllipsis]">
  <nz-card-meta
    nzTitle= "{{this.title$}}"
    nzDescription=  "{{this.description$}}"
    [nzAvatar]="avatarTemplate"
  ></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
  <nz-avatar nzSrc="{{this.avatarImageUrl$}}"></nz-avatar>
</ng-template>
<ng-template #coverTemplate>
  <img alt="example" src="{{this.itemImageUrl$}}" />
</ng-template>
<ng-template #actionEdit>
  <span nz-icon nzType="edit" nzTheme="twotone" [nzTwotoneColor]="'#2fc5eb'"></span>
</ng-template>
<ng-template #actionEllipsis>
  <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'#eb2f8d'"></span>
</ng-template>
